.body-content {
  align-items: center;
  height: 100%;
}

mat-card {
  background-color: snow;
  margin: 10px;
}

.text-content {
  margin: 30% 7% 7% 7%;
}

.font-vast-shadow-xxlarge {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  letter-spacing: .0178571429em;
}

a {
  text-decoration: none;
}
