<mat-card class="body-content">
  <mat-card-header>
    <mat-card-title-group class="text-content">
      <mat-card-title>
        <a
          mat-button
          type="button"
          color="primary"
          matTooltip="Navigate to Home"
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          aria-label="Sequrd homepage"
        >
          <p><span class="font-vast-shadow-xxlarge">SEQURD</span></p>
        </a>
      </mat-card-title>
      <mat-card-subtitle>
        <p>{{ title }}</p>
        <p>{{ details }}</p>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
