.sequrd-app-main-content {
  height: 100%;
  margin: 10px;
}

.body-content {
  align-items: center;
  height: 100%;
  background-color: snow;
}

.text-content {
  margin: 10% 2% 2% 2%;
}

.comfortaa-light {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.comfortaa-bold {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
}
