.material-icons {
  font-size: 24px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar button, a {
  margin-right: 8px;
}

.vast-shadow-font-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}
