<div class="sequrd-app-navbar">
  <nav class="sequrd-app-navbar-primary">
    <mat-toolbar role="navbar" color="primary">
      <mat-toolbar-row>
        @if (!hide) {
        <a
          mat-mini-fab
          type="button"
          color="primary"
          matTooltip="Navigate to Home"
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          aria-label="Sequrd homepage"
        >
          <mat-icon>home</mat-icon>
        </a>
        }
        <span class="font-vast-shadow-regular">SEQURD</span>
        <span class="example-spacer"></span>
        @if (!hide) {
        <button
          mat-fab extended
          type="button"
          color="primary"
          aria-label="Account button"
          (click)="goToLogin()"
        >
          <mat-icon>account_circle</mat-icon>
          <span class="font-comfortaa-bold-normal">Sign In</span>
        </button>
        } @if (!hide) {
        <a
          mat-mini-fab
          type="button"
          color="primary"
          matTooltip="Logout"
          routerLink="/logout"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          aria-label="Logout button"
        >
          <mat-icon>logout</mat-icon>
        </a>
        }
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</div>
